{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "import"
  ],
  "env": {
        "amd": true,
        "es6": true
    },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:import/errors",
  "plugin:import/warnings", "plugin:import/react", "plugin:import/react-native"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "globals": {
    "fetch": false
  },
  "rules": {
    "no-extra-parens" : 1,
    "no-prototype-builtins" : 1,
    "no-template-curly-in-string": "error",
    "no-unsafe-negation": 1,
    "valid-jsdoc": 1,
    "array-callback-return": 1,
    "block-scoped-var": 1,
    "complexity": [1, 10],
    "consistent-return": [1, { "treatUndefinedAsUnspecified": false }],
    "curly": 1,
    "default-case": 1,
    "dot-location": [1, "property"],
    "dot-notation": "error",
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-case-declarations": 1,
    "no-div-regex": 1,
    "no-else-return": 1,
    "no-empty-function": 1,
    "no-empty-pattern": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-label": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-global-assign": 1,
    "no-implicit-coercion": 1,
    "no-implicit-globals": 1,
    "no-implied-eval": 1,
    "no-invalid-this": 1,
    "no-iterator": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-str": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-param-reassign": 1,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unmodified-loop-condition": 1,
    "no-unused-labels": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-useless-escape": 1,
    "no-with": 1,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": 1,
    "yoda": 1,
    "no-catch-shadow": 1,
    "no-delete-var": 1,
    "no-label-var": 1,
    "no-shadow": 1,
    "no-undef-init": 1,
    "no-undef": 1,
    "no-undefined": 1,
    "no-unused-vars": 1,
    "array-bracket-spacing": 1,
    "block-spacing": [1, "never"],
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": 1,
    "comma-dangle" : 1,
    "comma-spacing": 1,
    "comma-style": 1,
    "computed-property-spacing": 1,
    "consistent-this": [1, "self"],
    "eol-last": 1,
    "func-call-spacing": 1,
    "func-style": [1, "declaration", { "allowArrowFunctions": true }],
    "indent": [1, 2],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": [2, {
                        "singleLine": {
                                "beforeColon": false,
                                "afterColon": true
                            },
                            "multiLine": {
                                "beforeColon": true,
                                "afterColon": true,
                                "align": "colon"
                            }
                        }
                      ],
    "space-before-blocks": "error",
    "keyword-spacing": 1,
    "line-comment-position": 1,
    "linebreak-style": 1,
    "lines-around-comment": 1,
    "lines-around-directive": 1,
    "no-continue": 1,
    "no-inline-comments": 1,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "no-multiple-empty-lines": 1,
    "no-tabs": 1,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 1,
    "no-unneeded-ternary": 1,
    "no-whitespace-before-property": 1,
    "object-curly-newline": 1,
    "object-curly-spacing": [1, "always", { "objectsInObjects": false, "arraysInObjects": false }],
    "object-property-newline": [1, { "allowMultiplePropertiesPerLine": true }],
    "operator-assignment": 1,
    "operator-linebreak": [1, "before"],
    "quotes": 1,
    "semi": [1, "never"],
    "arrow-parens": 1,
    "arrow-spacing": 1,
    "no-confusing-arrow": 1,
    "no-duplicate-imports": 1,
    "prefer-spread": 1,
    ##React Native Rules
    "react-native/no-unused-styles": 1,
    "react-native/split-platform-components": 1,
    "react-native/no-inline-styles": 1,
    "react-native/no-color-literals": 0,

  }
}
